<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventbrite</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static  'css/eventbrite.css'  %}"">
</head>
<body>
    <!-- header -->
    <header>
        
        <h2>eventbrite</h2>
        <div class="input-group">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search" name="Search">
        </div>
        <nav>
            <li><a href="#">Browse Events</a></li>
            <li>
                <a href="#">Host an event</a>
                <i class="fas fa-angle-down"></i>
            
            </li>
            <li>
                <a href="#">Help</a>
                <i class="fas fa-angle-down"></i>
            </li>
            <li>
        
                <a href="#">as3755081@gmail.com</a>
                <i class="fas fa-angle-down"></i>
            </li>
        </nav>
        
    </header>
    
   <div class="h_line"></div>
  
  


    <!-- banner area -->
    
    <section class="banner_area">
        <h1 id="banner_title">Likes</h1>
    <ul class="banner_content">
        <li class="banner_img" style="background-image: url("images/pexels-negative-space-34140.jpg")"></li>
        <li class="description">
            <h3>Keith Barry Virtual Valentine Brainhacking Show</h3>
            <p>March,15,2021 2.30 AM IST<br>Starts at $100</p>
        </li>
        <li class="icon">
            <i class="fas fa-upload"></i>
            <i class="fas fa-heart"></i>

        </li>
    </ul>
    </section>
 
    
</body>
</html>